name: CI

on: [push]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: setup-node
        uses: actions/setup-node@v1
        with:
          node-version: 10
      - name: install-prettier
        run: npm install
      - name: run-prettier
        uses: wearerequired/lint-action@v1
        with:
          github_token: ${{ secrets.github_token }}
          prettier: true

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: build-test-image-basic
        uses: ./
        with:
          builder: intodocker/clojure
          image: test-image-basic
          cache-path: cache.tar
          artifacts-path: target/artifacts
          source-path: test
      - name: verify-test-image-basic
        run: ./test/verify-image.sh test-image-basic cache.tar target/artifacts/app.jar

      - name: build-test-image-with-cache
        uses: ./
        with:
          builder: intodocker/clojure
          image: test-image-with-cache
          cache-path: cache.tar
          source-path: test
      - name: verify-test-image-with-cache
        run: ./test/verify-image.sh test-image-with-cache

      - name: build-test-image-with-explicit-version
        uses: ./
        with:
          builder: intodocker/clojure
          image: test-image-with-explicit-version
          source-path: test
          version: 1.1.0-RC3
      - name: verify-test-image-with-explicit-version
        run: ./test/verify-image.sh test-image-with-explicit-version

  create-release:
    needs: test
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - name: export-version
        id: version
        run: echo ::set-output name=value::${GITHUB_REF:10}
      - name: create-release
        id: create_release
        uses: actions/create-release@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: "into-docker/build-action@${{ steps.version.outputs.value }}"
          body: |
            This it the [into-docker][] build action version `${{ steps.version.outputs.value }}`, allowing you to run any into-docker builder image as a Github Action.

            **Changes**

            - TODO

            **Usage**

            ```
            - uses: into-docker/build-action@${{ steps.version.outputs.value }}
              with:
                image: target-image:latest
                builder: intodocker/clojure
                profile: default
                cache: cache-file.tar
            ```

            See the [README][] for further options.

            [into-docker]: https://github.com/into-docker/into-docker
            [README]: https://github.com/into-docker/build-action/blob/${{ steps.version.outputs.value }}/README.md
          draft: true
          prerelease: false
